@import 'style/variable';

.menu {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    font-family: $font-global;
    text-align: center;

    &__title,
    &__search,
    &__sort,
    &__add {
        width: 100%;
    }

    &__title {
        padding: 3.5rem;
        font-size: $font-size-h1;
        font-weight: 100;
        color: $col-pure-white;
    }

    & label {
        margin-top: 1rem;
    }

    & input,
    select {
        width: 75%;
    }

    &__add select:last-of-type {
        margin-top: 1rem;
    }

    & button {
        margin-top: 5rem;
        width: 35%;
    }
}

.buttonIsHidden {
    visibility: hidden;
}