@import 'style/variable';

.menu {
    height: 85%;
    justify-content: space-between;
    align-items: center;
    font-family: $font-main;
    text-align: center;

    &__title,
    &__search,
    &__sort,
    &__add {
        width: 100%;
    }

    &__title p {
        font-size: $font-size-title;
        padding: 3.5rem;
        color: $col-pure-white;
    }

    & input,
    select {
        width: 75%;
    }

    & select {
        &:first-of-type {
            margin-bottom: 1rem;
        }

        &:last-of-type {
            margin-bottom: 2rem;
        }
    }

    & button {
        margin-top: 3rem;
        width: 35%;
    }
}

.buttonIsHidden {
    visibility: hidden;
}