@import 'style/variable';

.navbar {
    width: 75%;
    justify-content: space-between;
    align-items: center;
    font-family: $font-main;

    a {
        width: 33.3%;
        padding: 6.5rem 0 0.5rem;
        font-size: $font-size-a;
        color: $col-pure-white;
        text-align: center;
        text-decoration: none;
        background-color: $col-bg-a;
        transition: background-color, padding, .5s;

        &:hover,
        &.active {
            padding: 3.5rem 0 3.5rem;
            background-color: $col-bg-a-hover;
        }

    }
}