@import 'style/variable';

.navbar {
    width: 100%;
    border-bottom: .1rem solid $col-pure-white;
    justify-content: space-between;
    align-items: center;
    font-family: $font-global;

    a {
        width: 33.3%;
        padding: 6.5rem 0 0.5rem;
        font-size: $font-size-a;
        color: $col-pure-white;
        text-align: center;
        text-decoration: none;
        transition: background-color, padding, .5s;

        &:hover,
        &.active {
            padding: 3.5rem 0 3.5rem;
            background-color: $background-color-a-hover;
        }

    }
}