@import 'style/variable.scss';

.update {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    font-family: $font-main;
    text-align: center;

    & input {
        width: 30rem;
    }

    & button {
        width: 15%;

        &:first-of-type {
            margin-top: 5rem;
        }

        &:last-of-type {
            margin-top: 1.5rem;
        }
    }
}