@import 'style/variable.scss';

.update {
    width: 100%;
    text-align: center;

    & button {
        width: 12.5%;
    }
}

p {
    font-family: $font-main;
    font-size: 3rem;
    color: $col-header;
}