@import 'style/variable.scss';

.update-car-list {
    width: 100%;
    margin-top: 12.5rem;
    font-family: $font-main;
    text-align: center;

    & input {
        width: 30rem;
        text-align: center;
    }

    & button {
        width: 15%;

        &:first-of-type {
            margin-top: 5rem;
        }

        &:not(:first-of-type) {
            margin-top: 1.5rem;
        }
    }
}