@import 'style/variable';

.navbar {
    width: 50%;
    font-family: $font-main;

    a {
        font-size: 3rem;
        color: $col-pure-white;
        line-height: 10rem;
        text-decoration: none;
        //cont.
    }
}