input,
select,
button {
    border: none;
    font-family: $font-main;
    font-size: $font-size-input-selct-button;
    line-height: 5rem;
    align-self: center;
    transition: box-shadow .25s;

    &:hover {
        box-shadow: 0 0 .5rem .1rem $col-glow-effect, 0 0 1.5rem .25rem $col-glow-effect;
    }
}

input,
select {
    border-radius: 3rem;
    padding-left: 1rem;

    &:focus {
        outline: none;
    }
}

select {
    height: 5rem;
}

button {
    border-radius: .5rem;
    transition: box-shadow .25s;

    &:active {
        transform: scale(.925);
        box-shadow: unset;
    }
}

label {
    margin-bottom: 1rem;
    font-size: $font-size-label;
    color: $col-label;
}

article {
    width: 75%;
    margin-bottom: 4rem;
    padding-left: 10rem;
    font-family: $font-main;
    font-weight:100;
    display: block;
    color: $col-glow-effect;

    &:first-of-type {
        margin-top: 4rem;
    }

    & p {
        color: rgb(133, 133, 133);
        font-size: 2rem;
    }
}

h1 {
    font-size: 3rem;
}