input,
select,
button {
    border: none;
    font-family: $font-global;
    font-size: $font-size-inputSelectButton;
    line-height: 5rem;
    align-self: center;
    transition: box-shadow .25s;

    &:hover {
        box-shadow: 0 0 .5rem .1rem $col-glow-effect, 0 0 1.5rem .25rem $col-glow-effect;
    }
}

input,
select {
    border-radius: 3rem;
    padding-left: 1rem;

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: $col-pure-white;
        opacity: 1;
    }
}

select {
    height: 5rem;
}

button {
    border-radius: .5rem;
    transition: box-shadow .25s;

    &:active {
        transform: scale(.925);
        box-shadow: unset;
    }
}

label {
    margin-bottom: .5rem;
    font-size: $font-size-label;
    color: $font-color-label;
}