.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
//text will overflow to the next line which will cause the bigger height of button
.reduce-font-size {
    @media (max-width: 65rem) {
        font-size: 1.5rem;
    }
}