@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$col-pure-white: #FFF;
$col-pure-black: #000;

$col-header: #212121;
$col-main: #212121;
$col-aside: #0C0603;
$col-bg-a: #212121;
$col-bg-a-hover: #0C0603;
$col-glow-effect: #F2600F;
$col-overlay-border: #5e5e5e;
$col-overlay-bg: #251e1e;

$font-main: 'Bebas Neue', sans-serif;
$font-size-a: 3rem;
$font-size-title: 5rem;
$font-size-label: 3rem;
$font-size-input-selct-button: 2rem;
$font-size-carcard-p: 2.5rem;
$font-size-modal-message: 3rem;

$col-label: #ff7921;