@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//pure colors
$col-pure-white: #FFF;
$col-pure-black: #000;
//background colors
$background-color-header: #0C0603;
$background-color-main: #212121;
$background-color-aside: #0C0603;
$background-color-a-hover: #f05b10;
$background-color-overlay: #251e1e;
//font-family
$font-global: 'Bebas Neue', sans-serif;
//font size
$font-size-a: 3rem;
$font-size-h1: 5rem;
$font-size-p: 2rem;
$font-size-label: 3rem;
$font-size-inputSelectButton: 2rem;
//font color
$font-color-label: #f05b10;
$font-color-h1: #f05b10;
$font-color-p-help: #858585;
//other
$glow-effect: #F2600F;
$overlay-border: #5e5e5e;