@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$col-pure-black: #000;
$col-pure-white: #FFF;

$col-header: #F2600F;
$col-background: #212121;
$col-menu: #0C0603;

$font-main: 'Bebas Neue', sans-serif;