@import 'style/variable.scss';

.car-card {
    width: 100%;
    aspect-ratio: 2/1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

    &:hover .iconTrash {
        opacity: 1;
    }

    &__id {
        width: 10%;
        aspect-ratio: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        background-color: $col-pure-black;
    }


    &__image {
        width: 100%;
        aspect-ratio: 2/1.25;
        object-fit: cover;
    }

    & p {
        font-family: $font-main;
        font-size: 2rem;
        color: $col-pure-white;
    }

    & .car-card__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.iconTrash {
    position: absolute;
    top: .5rem;
    right: 1rem;
    z-index: 1;
    color: white;
    opacity: 0;
    transition: opacity .4s;
}