@import 'style/variable.scss';

.car-card {
    width: 100%;
    aspect-ratio: 2/1.25;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover .car-card__image {
        transform: scale(1.025);
    }

    &:hover .iconTrash {
        opacity: 1;
    }

    &__id {
        width: 10%;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        background-color: $col-pure-black;
    }

    &__image {
        width: 100%;
        aspect-ratio: 2/1.25;
        object-fit: cover;
        transition: transform .35s;
    }

    & p {
        font-family: $font-main;
        font-size: $font-size-carcard-p;
        color: $col-pure-white;
        transition: color .5s;
    }

    & .car-card__details {
        width: 100%;
        position: relative;
        text-align: center;
    }
}

.iconTrash {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    opacity: 0;
    color: $col-pure-white;
    transition: opacity .5s;
}