@import 'style/variable.scss';

.update-car-card {
    width: 100%;
    margin-top: 12.5rem;
    font-family: $font-global;
    text-align: center;

    & label {
        font-family: $font-global;
        font-size: $font-size-label;
        color: $font-color-label;
    }

    & input {
        width: 30rem;
        text-align: center;

        ::placeholder {
            text-align: center;
        }
    }

    & button {
        width: 15%;
        margin-top: 5rem;
    }
}

.buttonIsHidden {
    visibility: hidden;
}