@import 'style/variable.scss';

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header aside"
        "main aside";
}

.header {
    border-bottom: .1rem solid $col-pure-white;
    grid-area: header;
    width: 100%;
    background-color: $col-main;
}

.aside {
    height: 100%;
    border-left: .1rem solid $col-pure-white;
    grid-area: aside;
    background-color: $col-aside;
}

.main {
    height: 100%;
    grid-area: main;
    background-color: $col-main;
}